* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "verdana";
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(244, 219, 255);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.item {
    width: 200px;
    height: 150px;
    background: rgb(255, 255, 255);
    box-shadow: 0 3px 4px rgba(75, 62, 81, 0.479);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.title {
    color: rgb(58, 2, 96);
    text-shadow: 0 2px 2px rgba(61, 9, 88, 0.567);
    font-weight: 600;
    font-size: 16px;
}

.text {
    color: rgb(85, 39, 115);
    font-weight: 500;
    font-size: 16px;
}
